<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>appointment list page</title>
    <style>
         .btn {
            margin-top: 1rem;
            display: inline-block;
            padding: 1rem 3rem;
            border-radius: .5rem;
            background: var(--primary);
            font-size: 1.7rem;
            color: var(--white);
            cursor: pointer;
        }

        .btn:hover {
            background: var(--secondary);
        }
    </style>
</head>

<body>
    <table border="2px">
        <tr>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Timeslot</th>
            <th>Doctor</th>
            <th>Appointment-date</th>
        </tr>

        {% for list in user_from_db %}
        <tr>
            <td>{{list.get('first_name')}}</td>
            <td>{{list.get('last_name')}}</td>
            <td>{{list.get('time_slot')}}</td>
            <td>{{list.get('doctor')}}</td>
            <td>{{list.get('appointment_date')}}</td>

        </tr>
        {% endfor %}

    </table>
    <a href="/modify-appointment" class="btn">Modify appointment</a>


</body>

</html>