<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Registration</title>
</head>

<body>

    <form action="/patient-appointment-registration" method="post">


        <label for="first_name">First name:</label><br>
        <input type="text" id="first_name" name="first_name"><br>

        <label for="last_name">Last name:</label><br>
        <input type="text" id="last_name" name="last_name"><br>

        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email"><br>

        <label for="phno">Phone number:</label><br>
        <input type="text" id="phno" name="phno"><br><br>

        <!-- Select a doctor -->
        <label for="doctor">Select a doctor:</label><br>
        <select id="doctor" name="doctor">
            <option value="Dr. John">Dr. John</option>
            <option value="Dr. Smith">Dr. Smith</option>
            <option value="Dr. David">Dr. David</option>
        </select><br><br>

        <label for="appointment_date">Appointment Date:</label><br>
        <input type="date" id="appointment_date" name="appointment_date"><br><br>

        <!-- select a time slot-->
        <label for="time_slot">Select a time slot:</label><br>
        <select id="time_slot" name="time_slot">
            <option value="9:00 AM">9:00 AM</option>
            <option value="10:00 AM">10:00 AM</option>
            <option value="11:00 AM">11:00 AM</option>
            <option value="12:00 PM">12:00 PM</option>
            <option value="1:00 PM">1:00 PM</option>
            <option value="2:00 PM">2:00 PM</option>
            <option value="3:00 PM">3:00 PM</option>
            <option value="4:00 PM">4:00 PM</option>
            <option value="5:00 PM">5:00 PM</option>
        </select><br><br>


        <input type="submit">

    </form>

    <br>

    {{message}}

</body>

</html>